{% extends "base.html" %}
{% block content %}
{% load tagname %} 
<p id="alefa"></p>
<table id="dtBasicExample" class="table table-bordered table-striped"></table>
<table>
	<tr>
	{% for i in data|slice:":1" %}
		{% for j,k in i.items %}

			{% for y,u in k.items %}
				<td>{{y}}</td>
			{% endfor %}
		{% endfor %}
	{% endfor %}
	</tr>
	{% for i in data %}
		<tr>
		{% for j,k in i.items %}
			
			{% for y,u in k.items %}
				<td>{{u}}</td>
			{% endfor %}
			
		{% endfor %}
		</tr>
	{% endfor %}
</table>
</table>
{% endblock content %}